@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
  /* background: rgba(0, 113, 45, 0.05); */
}

@layer utilities {
  .menu-mobile {
    @apply hover:text-accent hover:underline hover:underline-offset-2;
  }
  .custom-outline-white {
    @apply focus:outline-none focus:-outline-offset-4 focus:outline-white;
  }
  .custom-outline-accent {
    @apply focus:outline-none focus:-outline-offset-4 focus:outline-accent/50;
  }
}

.description ol {
  @apply list-inside list-decimal;
}

.description ul {
  @apply list-inside list-disc;
}

.description li {
  @apply my-1;
}

.description h1 {
  @apply mb-2 text-2xl;
}

@layer base {
  :root {

    --radius: 0.5rem
  }
}
